//- layout.pug
doctype html
html
  head
    title Kardio Dance Academy
    block scripts 
    block style
  body
    nav#navbar 
          ul
            div#logo
              img(src="../static/img/logo.png")
              | HDA
            li #[a(href='/')  Home] 
            li #[a(href='/about') About]
            li #[a(href='/services') Services] 
            li #[a(href='/class-info') Class Info]
            li #[a(href='/contact') Contact]
    block content
    footer#footer 
        | Copyright@2022 kardioDanceAcademy.com | All right Reserved